.category {
  flex-direction: column;
 gap: var(--space-md);
 grid-row: span 2;
}
.category__title {
           margin-bottom: 0.25rem;
               font-size: var(--font-size-xl);
}


@media (max-width: 1350px) {
    .category {
      grid-column: span 2;
    }
    .article-card__img--category {
     max-width: 15rem;
}
    
}