.latest {
    flex-direction: column;
    gap: var(--space-md);
}
.latest__title {
       margin-bottom: 0.25rem;
     max-width: 50%;
}
@media (max-width: 1000px) {
   .latest {
      grid-row: 3;
      grid-column: span 2;
    }
    .article-card__img--latest {
     max-width: 15rem;
}
    
}